html,
body,
.py-5,
p {
  margin: 0;
  padding: 0;
}
.py-5 {
  padding-top: 0 !important;
  padding-bottom: 30px !important;
}
a {
  color: #7d7d7d !important;
  text-decoration: none;
}
a:hover {
  color: #343434 !important;
  text-decoration: none;
}
.col-md-4,
.col-md-8,
.col-lg-3,
.col-lg-9,
.navbar {
  padding: 0;
}
.navbar-container .navbar {
  padding: 30px 0 0 0;
}
.navbar-brand img {
  margin: 0 0 28px 25px;
}
.container {
  padding: 0;
}
.container img {
  margin-right: 13px;
}
.box__content {
  background: #ffffff;
  box-shadow: 0px 11px 21px rgba(40, 40, 40, 0.07);
  padding: 28px 31px 34px;
  border-radius: 2px;
}
.box__content .row:first-child {
  font-weight: 500;
  margin-bottom: 27px;
}
.box__content .row:nth-child(2) {
  border-bottom: 1px solid #b1b1b1;
  padding-bottom: 20px;
}
.box__content .row:nth-child(3) {
  padding-top: 20px;
}

.container h5 {
  margin-bottom: 26px;
  font-size: 20px;
}
.container a {
  padding: 0;
}
.box__content .btn {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 12px;
}
.btn__create {
  width: 240px;
  height: 36px;
}
.container-fluid {
  padding: 0;
}
.navbar-nav {
  padding-left: 15px;
}
.py-5 .btn__create {
  margin: 20px;
}
.container h5 {
  padding: 20px;
}
/* таблица */
.col-link {
  word-wrap: break-word;
}
.col-button {
  margin-top: 20px;
  width: 100%;
}
.row {
  margin: 0;
}
.btn-secondary {
  background: #b1b1b1;
  border: none;
}
/* /таблица */
/* аватарка */
.ava__box {
  width: 75%;
  height: 65px;
  margin-left: 16px;
  box-shadow: 0px 0px 16px 0px #88a7f52e;
  padding: 10px 17px;
  background: #fff;
}
.ava__box p {
  font-size: 14px;
}
.rounded-circle {
  border: 2px solid #d9d9d9;
}
.mail-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  width: 65px;
  height: 65px;
}
.mail-note {
  position: absolute;
  top: 18px;
  right: 17px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e42626;
}
.rounded-circle {
  margin-right: 11px;
}
/* /аватарка */

/* модальное окно */
.modal-header {
  padding: 30px 30px 46px;
  border-bottom: none;
}
.modal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
}
.modal-body {
  padding: 0 30px;
}
.modal-content {
  border: none;
  max-width: 617px;
  margin: auto;
}
.modal-footer {
  justify-content: flex-start;
  padding: 42px 30px 35px;
  border-top: none;
}
.modal-footer button {
  width: 151px;
  height: 36px;
}

/* dropdown */
.dropdown {
  margin-bottom: 30px;
}
.dropdown button {
  width: 240px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #cdcdcd;
  font-size: 12px;
  color: #7c7c7c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-toggle::after {
  content: url("./imgs/arrow.svg");
  border: none;
}
.dropdown h5,
.fom__box h5 {
  font-size: 14px;
}
/* /dropdown */

/* form */
.domain__address {
  width: 25%;
  height: 38px;
  background: #6666cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 2px;
}
.input-group {
  display: flex;
  margin-bottom: 30px;
}
.form-control {
  background: #e6e6e9;
  border: none;
}
/* /form */

/* warning */
.box__warning {
  display: flex;

  font-size: 12px;
  line-height: 18px;
}
.box__warning img {
  margin-right: 16px;
}
/* /warning */

/* btns */
.btn__create {
  background: #55c97b;
  border-radius: 2px;
  color: #fff;
}
.btn-save-changes {
  width: 151px;
  height: 36px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bg {
  background-color: #f8faff;
}
/* /btns */
/* /модальное окно */

/* сайдбар */
.navbar-nav .nav-link {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 20px;
}
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
}
.nav-link {
  margin-left: 40px;
}

.nav-link1::after {
  content: url("./imgs/sidebar1.svg");
}
.nav-item1 .active::after {
  content: url("./imgs/sidebar1-v.svg");
}

.nav-link2::after {
  content: url("./imgs/2.svg");
}
.nav-item2 .active::after {
  content: url("./imgs/sidebar2-v.svg");
}

.nav-link3::after {
  content: url("./imgs/sidebar3.svg");
}
.nav-item3 .active::after {
  content: url("./imgs/sidebar3-v.svg");
}

.nav-link4::after {
  content: url("./imgs/sidebar4.svg");
}
.nav-item4 .active::after {
  content: url("./imgs/sidebar4-v.svg");
}

.nav-link5::after {
  content: url("./imgs/sidebar5.svg");
}
.nav-item5 .active::after {
  content: url("./imgs/sidebar5-v.svg");
}

.nav-link6::after {
  content: url("./imgs/sidebar6.svg");
}
.nav-item6 .active::after {
  content: url("./imgs/sidebar6-v.svg");
}

.nav-link7::after {
  content: url("./imgs/sidebar7.svg");
}
.nav-item7 .active::after {
  content: url("./imgs/sidebar7-v.svg");
}

.nav-link8::after {
  content: url("./imgs/sidebar8.svg");
}
.nav-item8 .active::after {
  content: url("./imgs/sidebar8-v.svg");
}

.nav-link9::after {
  content: url("./imgs/sidebar9.svg");
}
.nav-item9 .active::after {
  content: url("./imgs/sidebar9-v.svg");
}

.nav-link::after {
  position: absolute;
  left: 20px;
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #6666cc;
  box-shadow: 0px 2px 10px rgba(102, 102, 204, 0.67);
}
/* /сайдбар */

/* навигация */
.breadcrumb {
  background: none !important;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #7d7d7d;
  text-decoration: none;
}
ul.breadcrumb li a:hover,
ul.breadcrumb li a:active {
  color: #343434;
  text-decoration: underline;
}
/* /навигация */

@media (min-width: 768px) {
  .inner {
    padding: 22px 16px 0 59px;
  }

  .col-button {
    margin-top: unset;
  }
  .domain__address {
    width: 151px;
  }
  .ava__box {
    width: 256px;
  }
  .domain__address .navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
  }
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .navbar-container .navbar-collapse {
    align-items: flex-start;
  }
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {
    flex-direction: column !important;
  }
  .navbar-nav {
    padding-left: unset;
  }
  .py-5 .btn__create {
    margin: unset;
  }
}
